@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.info {
  position: absolute;
  bottom: 7px;
  left: 12px;
  color: rgb(85, 48, 0);
  font-family: "Inter";
  font-size: 12px;
}
